@import url('https://fonts.googleapis.com/css2?family=Beiruti:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    padding: 0;
    margin: 0;
    bottom: 0;
    box-sizing: border-box;
    direction: rtl;
     font-family: "Beiruti", sans-serif;
}